@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Medium.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("../fonts/SpaceGrotesk-Bold.woff2") format("woff2"), url("../fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  display: block;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

ul,
ul li {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.product__pagination-link,
.product__item-cart-svg,
.product__item-fav-svg path,
.product__item-fav-svg,
.product__item-img,
.product__item,
.product__filter-send,
.product__rating-box,
.product__price-box,
.product__colors-label::after,
.product__more,
.product__subcategory-link,
.product__subcategory-list,
.product__category-btn,
.product__drop-svg,
.search__send,
.search__reset,
.search__input,
.search__btn,
.search,
.header__back-btn path,
.header__avatar,
.header__icon--cart path,
.header__icon--notice path,
.header__account,
.header__logo,
.breadcrumbs__link,
.container--w1630 {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

:root {
  --color-grey-0: hsl(0, 0%, 100%);
  --color-grey-1: hsl(0, 0%, 95%);
  --color-grey-2: hsl(0, 0%, 90%);
  --color-grey-3: hsl(0, 0%, 70%);
  --color-grey-4: hsl(16, 5%, 59%);
  --color-grey-5: hsl(0, 3%, 30%);
  --color-grey-6: hsl(0, 0%, 0%);
  --color-grey-0--hover: hsl(0, 0%, 95%);
  --color-grey-1--hover: hsl(0, 0%, 90%);
  --color-grey-3--hover: hsl(0, 0%, 60%);
  --color-grey-4--hover: hsl(16, 5%, 52%);
  --color-brand: hsl(46, 81%, 59%);
  --color-brand--hover: hsl(46, 81%, 50%);
  --color-brand--active: hsl(46, 81%, 46%);
  --color-brand--lightest: hsl(41, 100%, 70%);
  --color-brand--darkest: hsl(41, 100%, 41%);
  --color-accent: #4368eb;
}

.darkmode {
  --color-grey-0: hsl(0, 0%, 10%);
  --color-grey-1: hsl(0, 0%, 20%);
  --color-grey-2: hsl(0, 0%, 25%);
  --color-grey-3: hsl(0, 0%, 61%);
  --color-grey-4: hsl(18, 6%, 66%);
  --color-grey-5: #b5b0b0;
  --color-grey-6: hsl(0, 0%, 100%);
  --color-grey-0--hover: hsl(0, 0%, 15%);
  --color-grey-1--hover: hsl(0, 0%, 25%);
  --color-grey-3--hover: hsl(0, 0%, 54%);
  --color-grey-4--hover: hsl(18, 6%, 56%);
  --color-brand: hsl(46, 100%, 35%);
  --color-brand--hover: hsl(46, 100%, 39%);
  --color-brand--active: hsl(46, 100%, 43%);
  --color-brand--lightest: hsl(41, 100%, 41%);
  --color-brand--darkest: hsl(41, 100%, 70%);
  --color-accent: #6a8aff;
}

body {
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font: 20px/1.2 "SpaceGrotesk", sans-serif;
  color: var(--color-grey-6);
  background-color: var(--color-grey-0);
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.container--w1630 {
  max-width: 1630px;
  position: relative;
}

.container--w1710 {
  max-width: 1710px;
}

.breadcrumbs {
  overflow-x: auto;
  overflow-y: hidden;
  background-color: var(--color-grey-1);
  min-height: 92px;
}

.breadcrumbs__list {
  padding: 34px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs__item {
  padding-right: 40px;
  margin-right: 16px;
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-grey-6);
  -webkit-mask: url("../img/icons/next.svg");
          mask: url("../img/icons/next.svg");
}

.breadcrumbs__link {
  color: var(--color-grey-3);
}

.breadcrumbs__link:hover {
  color: var(--color-grey-3--hover);
}

.footer {
  margin-top: 100px;
  padding: 30px 0 20px;
  color: var(--color-grey-1);
  background-color: var(--color-grey-5);
  text-align: center;
}

.footer__text {
  margin-bottom: 20px;
  font-size: 16px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 908px;
  gap: 15px;
}

.header__logo {
  max-width: 132px;
}

.header__account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 194px;
  gap: 15px;
}

.header__link {
  position: relative;
}

.header__icon {
  width: 32px;
  height: 32px;
}

.header__icon--notice path {
  fill: var(--color-grey-6);
}

.header__icon--notice:hover path {
  fill: var(--color-brand--darkest);
}

.header__icon--cart path {
  stroke: var(--color-grey-6);
}

.header__icon--cart:hover path {
  stroke: var(--color-brand--darkest);
}

.header__icon-counter {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-grey-0);
  pointer-events: none;
}

.header__icon-counter::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  background-color: var(--color-accent);
  border-radius: 10px;
}

.header__icon-counter--active {
  display: block;
}

.header__avatar {
  width: 60px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__avatar:hover {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

.header__menu {
  width: 100%;
  max-width: 275px;
  max-height: 0;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  position: absolute;
  right: 15px;
  z-index: 100;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px var(--color-grey-2);
          box-shadow: 0 0 10px var(--color-grey-2);
  background-color: var(--color-grey-0);
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__menu--open {
  max-height: 271px;
  padding: 16px 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__menu-link {
  display: block;
  width: 100%;
  padding: 5px 20px 5px 60px;
  position: relative;
  color: var(--color-grey-6);
  text-align: left;
}

.header__menu-link:hover {
  background-color: var(--color-grey-0--hover);
}

.header__menu-svg {
  position: absolute;
  left: 20px;
  top: 4px;
}

.header__menu-svg path {
  fill: var(--color-grey-6);
}

.header__menu-box {
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}

.header__menu-box::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--color-grey-2);
}

.header__menu-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.header__back-btn {
  position: absolute;
  left: 20px;
}

.header__back-btn path {
  fill: var(--color-grey-6);
}

.header__back-btn:hover path {
  fill: var(--color-brand--darkest);
}

.header__theme-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 20px;
  top: 3px;
}

.header__theme-icon path {
  fill: var(--color-grey-6);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 704px;
  margin: 24px 0;
  position: relative;
  border-radius: 15px;
  background-color: var(--color-grey-1);
}

.search__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
  width: 100%;
  max-width: 80px;
  background-color: var(--color-grey-1);
  border-radius: 15px;
  pointer-events: none;
}

.search__btn:hover {
  background-color: var(--color-grey-1--hover);
}

.search__input {
  width: 100%;
  padding-left: 18px;
  padding-right: 36px;
  background-color: var(--color-grey-1);
  border-radius: 15px;
}

.search__input:hover,
.search__input:focus {
  background-color: var(--color-grey-1--hover);
}

.search__reset {
  width: 100%;
  max-width: 25px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
  right: 132px;
}

.search__reset-svg rect {
  fill: var(--color-grey-3);
}

.search__reset-svg:hover rect {
  fill: var(--color-grey-3--hover);
}

.search__send {
  padding: 18px 27px;
  font-weight: 700;
  background-color: var(--color-brand);
  border-radius: 15px;
}

.search__send:hover,
.search__send:focus {
  background-color: var(--color-brand--hover);
}

.search__send:active {
  background-color: var(--color-brand--active);
}

.search__btn-svg path {
  fill: var(--color-grey-6);
}

.product__breadcrumbs {
  margin-top: 16px;
  margin-bottom: 30px;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}

.product__aside {
  width: 100%;
  max-width: 400px;
  padding: 40px 0;
  background-color: var(--color-grey-1);
  border-radius: 15px;
}

.product__aside-box {
  overflow: hidden;
}

.product__aside-title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.product__category-item {
  width: 100%;
}

.product__category-item--hidden {
  display: none;
}

.product__drop-svg {
  width: 14px;
  height: 9px;
  position: absolute;
  top: 50%;
  right: 40px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--color-grey-6);
}

.product__drop-svg--rotate {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.product__category-btn {
  display: inline;
  width: 100%;
  text-align: left;
  padding: 16px 40px;
  font-size: 24px;
  font-weight: normal;
  color: var(--color-grey-4);
  position: relative;
}

.product__category-btn:hover {
  background-color: var(--color-grey-1--hover);
}

.product__category-btn:hover .product__drop-svg {
  color: var(--color-brand--darkest);
}

.product__subcategory-list {
  max-height: 300px;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  opacity: 1;
  pointer-events: all;
}

.product__subcategory-list--hidden {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scaleY(0.5);
      -ms-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

.product__subcategory-link {
  display: block;
  padding: 6px 60px;
  width: 100%;
  color: var(--color-grey-6);
}

.product__subcategory-link:hover {
  color: var(--color-brand--darkest);
}

.product__more {
  display: block;
  margin: 32px auto 42px;
  height: 68px;
  width: 100%;
  border: 2px solid var(--color-grey-2);
  border-radius: 10px;
  font-size: 24px;
  line-height: 32px;
}

.product__more:hover,
.product__more:focus {
  border-color: var(--color-brand--lightest);
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.product__more:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.product__more--hidden {
  display: none;
}

.product__more-wrapper {
  padding: 0 40px;
  margin: 0 auto;
}

.product__aside-form {
  padding: 0 40px;
}

.product__filter-box {
  margin-bottom: 40px;
  position: relative;
}

.product__filter-box:not(:last-of-type) {
  padding-bottom: 40px;
}

.product__filter-box:not(:last-of-type)::after {
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  position: absolute;
  bottom: 0;
  left: -40px;
  background-color: var(--color-grey-2);
}

.product__filter-title {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 700;
}

.product__colors-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
  -webkit-column-gap: 3px;
     -moz-column-gap: 3px;
          column-gap: 3px;
  row-gap: 15px;
}

.product__colors-item {
  max-width: 48px;
}

.product__colors-input {
  display: none;
}

.product__colors-input:hover ~ .product__colors-label::after {
  opacity: 0.2;
}

.product__colors-input:checked ~ .product__colors-label::after {
  opacity: 1;
}

.product__colors-label {
  cursor: pointer;
  position: relative;
}

.product__colors-label::after {
  content: "";
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/icons/success.svg");
}

.product__colors-img {
  width: 48px;
  height: 48px;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16px;
}

.product__price-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}

.product__price-input {
  padding: 12px 24px 12px 16px;
  width: 100%;
  border: 2px solid var(--color-grey-2);
  border-radius: 10px;
}

.product__price-input:hover,
.product__price-input:focus {
  border-color: var(--color-brand--lightest);
}

.product__price-reset {
  display: none;
  width: 16px;
  position: absolute;
  right: 8px;
  top: 15px;
}

.product__price-reset--visible {
  display: block;
}

.product__price-reset-svg {
  width: 16px;
  height: 16px;
  fill: var(--color-grey-3);
}

.product__rating-btn {
  width: 100%;
  padding: 16px 32px;
  position: relative;
  z-index: 20;
  background-color: var(--color-grey-0);
  border-radius: 10px;
}

.product__rating-btn:hover .product__drop-svg {
  color: var(--color-brand--darkest);
}

.product__rating-box {
  width: 100%;
  max-width: 260px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
      -ms-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

.product__rating-box--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.product__rating-label {
  display: block;
  width: 100%;
  padding: 8px 0;
  background-color: var(--color-grey-0);
  position: relative;
  cursor: pointer;
}

.product__rating-label:hover:after {
  content: "";
  width: 100%;
  height: calc(100% - 4px);
  position: absolute;
  top: 2px;
  outline: 2px solid var(--color-brand--lightest);
}

.product__rating-img {
  height: 24px;
  min-width: 120px;
  margin: 0 auto;
}

.product__rating-img--selected {
  height: 30px;
}

.product__rating-input {
  display: none;
}

.product__filter-send {
  width: 100%;
  padding: 16px 0;
  color: var(--color-grey-0);
  font-weight: 700;
  font-size: 24px;
  background-color: var(--color-grey-6);
  border-radius: 10px;
}

.product__filter-send:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.product__filter-send:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.product__box-title {
  font-size: 40px;
  font-weight: 700;
}

.product__box-subtitle {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.product__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 80px 24px;
  margin-bottom: 60px;
  font-family: "Inter", "Arial";
}

.product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.product__item:hover .product__item-img {
  -webkit-transform: scale(1.08);
      -ms-transform: scale(1.08);
          transform: scale(1.08);
}

.product__item-img {
  max-height: 500px;
  max-width: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__item-fav {
  position: absolute;
  z-index: 25;
  top: 40px;
  right: 30px;
}

.product__item-fav-svg {
  width: 32px;
  height: 32px;
  fill: var(--color-grey-0);
}

.product__item-fav-svg path {
  fill: var(--color-grey-0);
}

.product__item-fav-svg:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.product__item-fav-svg:hover path {
  fill: rgb(245, 157, 191);
}

.product__item-fav-svg--active path,
.product__item-fav-svg--active:hover path {
  fill: rgb(255, 0, 85);
}

.product__item-desc {
  max-width: 300px;
  position: absolute;
  bottom: 30px;
  left: 20px;
  font-weight: 700;
  color: var(--color-grey-0);
  text-shadow: 1px 1px 2px var(--color-grey-5);
  pointer-events: none;
}

.product__item-title {
  margin-bottom: 12px;
}

.product__item-price {
  font-size: 24px;
}

.product__item-cart {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 30px;
  right: 20px;
  background-color: var(--color-grey-6);
  border-radius: 25px;
}

.product__item-cart-svg {
  width: 24px;
  height: 24px;
  position: relative;
  top: 3px;
}

.product__item-cart-svg:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.product__item-cart-svg path {
  stroke: var(--color-grey-0);
}

.product__item-cart-svg--active path {
  stroke: var(--color-brand);
}

.product__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}

.product__pagination-link {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-grey-1);
  border-radius: 10px;
  color: var(--color-grey-5);
  font-weight: 700;
}

.product__pagination-link:hover {
  background-color: var(--color-grey-1--hover);
}

.product__pagination-link--active {
  background-color: var(--color-grey-6);
  color: var(--color-grey-0);
}

.product__pagination-link--active:hover {
  background-color: var(--color-grey-6);
}

.product__pagination-link-svg path {
  fill: var(--color-grey-5);
}

@media (max-width: 1600px) {
  .product__item-desc {
    max-width: 200px;
  }

  .product__item-img {
    max-height: 440px;
  }
}

@media (max-width: 1400px) {
  .product__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

@media (max-width: 1200px) {
  .header__account {
    max-width: 160px;
  }

  .product__item-img {
    max-height: 400px;
  }
}

@media (max-width: 992px) {
  .breadcrumbs {
    min-height: 56px;
  }

  .breadcrumbs__item {
    padding-right: 32px;
    margin-right: 8px;
  }

  .breadcrumbs__list {
    padding: 16px 0;
  }

  .header {
    height: 90px;
  }

  .search__send {
    padding: 10px 15px;
    font-size: 16px;
  }

  .search__btn {
    padding: 10px 0;
    max-width: 50px;
  }

  .search__reset {
    right: 90px;
  }

  .search__input {
    padding-right: 30px;
  }

  .product__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .product__item-img {
    max-height: 500px;
  }

  .product__aside {
    max-width: none;
  }

  .product__box {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .product__category-btn {
    font-size: 20px;
  }

  .product__subcategory-link {
    font-size: 18px;
    padding: 6px 36px;
  }

  .product__category-btn {
    padding-right: 40px;
    padding-left: 24px;
  }

  .product__drop-svg {
    right: 24px;
  }

  .product__aside-form {
    padding: 0 24px;
  }

  .product__filter-box:not(:last-of-type):after {
    width: calc(100% + 48px);
    left: -24px;
  }

  .product__more-wrapper {
    padding: 0 24px;
  }
}

@media (max-width: 768px) {
  .search {
    max-width: 700px;
  }

  .search__btn {
    pointer-events: all;
  }

  .search__input {
    max-width: 600px;
  }

  .search--mobile-hide {
    max-width: 40px;
  }

  .search--mobile-hide .search__input {
    max-width: 0;
    padding: 0;
  }

  .search--mobile-hide .search__reset {
    max-width: 0;
  }

  .search--mobile-hide .search__send {
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    opacity: 0;
    max-width: 0;
    padding: 10px 0;
    overflow: hidden;
  }

  .header--mobile-hide .header__logo {
    max-width: 0;
  }

  .header--mobile-hide .header__account {
    max-width: 0;
  }

  .header--mobile-hide .header__account span {
    display: none;
  }

  .header--mobile-hide .container--w1630 {
    padding: 0;
  }

  .product__item {
    max-height: 350px;
  }

  .product__price {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product__colors-list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 550px) {
  .product__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product__price {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .product__colors-list {
    -ms-grid-columns: (1fr)[6];
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 480px) {
  .header__account {
    width: auto;
  }

  .header__link {
    display: none;
  }

  .search__reset {
    display: none;
  }

  .search__input {
    font-size: 16px;
    padding-right: 20px;
  }
}

@media (max-width: 400px) {
  .product__price {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .product__colors-list {
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
@supports (-webkit-appearance:none){
.product__colors-label::after{background:url("../img/icons/success.svg")}
}

 @media (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1400px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 900px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 550px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 480px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 400px){

@supports (-webkit-appearance:none){

}

}
